{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": false,
    "import/no-named-as-default": false
  },
  "globals": {
    "document": true
  },
  "env": {
    "browser": true
  }
}
